{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Programistorias</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'core/assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href=" {% static 'core/css/styles.css' %} " rel="stylesheet" />
        <style>
            /* Hacemos que el cuerpo ocupe toda la altura disponible */
            html, body {
                height: 100%;
                margin: 0;
                display: flex;
                flex-direction: column;
            }
            /* Aseguramos que el contenido principal se expanda para empujar el footer abajo */
            .content {
                flex: 1;
            }
        </style>
    </head>
    <body>
        <!-- Responsive navbar-->
        {% include 'componentes/nav.html' %}
        <!-- Page header with logo and tagline-->


        <!-- Main content area, ensure the footer stays at the bottom -->
        <main class="container my-5 content">
            {% block content %}
            {% endblock content %}
        </main>

        

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'core/js/scripts.js' %}"></script>
        {% include 'componentes/footer.html' %}
    </body>
</html>
