{% extends 'core/base.html' %}

{% block title %}Historias{% endblock title %}

{% block content %}
<div class="row">
    {% for historia in object_list %}
    <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">{{ historia.nombre }}</h5>
                <p class="card-text text-muted">{{ historia.autor|truncatechars:100 }}</p>
                {% if historia.fecha %}
                    <p class="card-text fw-bold">{{ historia.fecha }}</p>
                {% endif %}
                <a href="{% url 'historia_detail' historia.id %}" class="btn btn-primary">Ver más</a>
                <a href="{% url 'historia_confirm_delete' historia.id %}" class="btn btn-danger">Eliminar</a>
                <a href="{% url 'historia_update' historia.id %}" class="btn btn-success">Editar</a>


               
                
            </div>
        </div>
    </div>
    {% empty %}
        <p class="text-center">No hay historias disponibles.</p>
    {% endfor %}
</div>
{% endblock content %}
